<div class="page-wrapper">
	<header>
		<div class="logo">
			<h1>Routing training</h1>
		</div>

		<nav class="page-navigation-menu">
			<ul>
				<li>
					<a routerLink="/">Home</a>
				</li>
				<li>
					<a routerLink="/aboutUs">About Us</a>
				</li>
				<li>
					<a routerLink="/services">Services page</a>
				</li>
				<li>
					<a routerLink="/partners">Partners page</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<router-outlet></router-outlet>
	</main>
	<footer>
		<h3>Routing training</h3>
		<p>Copiright 2017</p>
	</footer>
</div>